/************ Reset do CSS ***********/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}   

/************ Variáveis das cores ***********/
:root{
    --dourado_pri: #FFD700;
    --dourado_seg: #DAA520;
    --branco: white;
}


/************ estilo do menu de navegação ***********/
.menu {
    background-color:var(--dourado_pri);
    padding: 8px;

    display: flex;
    flex-direction: row;
    
    font-family: Arial, Helvetica, sans-serif;

}

.menu .logo{
    margin-right: 15px;
}

.menu a{
    text-decoration: none;
    color: white;
    font-size: 14px;

    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.5s;
    text-align: center;
}

.menu .opcoes_menu a:hover{
    background-color: var(--dourado_seg)  ;
}

/*************************/

input{
    margin-bottom: 15px;
}